/* Left Cell and Respective Bush Styles */
.leftCell {
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.leftBush1 {
  background-image: url("../images/bush1.png");
  background-size: 125%;
  rotate: 180deg;
}

.leftBush2 {
  background-image: url("../images/bush2.png");
  background-size: 95%;
}

.leftBush3 {
  background-image: url("../images/bush3.png");
  background-size: cover;
  rotate: 90deg;
}

.leftBush4 {
  background-image: url("../images/bush4.png");
  background-size: cover;
  rotate: 180deg;
}

/* Right Cell and Respective Bush Styles */

.rightCell {
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.rightBush1 {
  background-image: url("../images/bush1.png");
  background-size: 125%;
}

.rightBush2 {
  background-image: url("../images/bush2.png");
  background-size: 95%;
}

.rightBush3 {
  background-image: url("../images/bush3.png");
  background-size: cover;
}

.rightBush4 {
  background-image: url("../images/bush4.png");
  background-size: cover;
}

/* Top Cell and Respective Bush Styles */

.topCell {
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.topBush1 {
  background-image: url("../images/bush1.png");
  background-size: 125%;
  rotate: 270deg;
}

.topBush2 {
  background-image: url("../images/bush2.png");
  background-size: 95%;
}

.topBush3 {
  background-image: url("../images/bush3.png");
  background-size: cover;
  rotate: 180deg;
}

.topBush4 {
  background-image: url("../images/bush4.png");
  background-size: cover;
  rotate: 270deg;
}

/* Bottom Cell and Respective Bush Styles */

.bottomCell {
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.bottomBush1 {
  background-image: url("../images/bush1.png");
  background-size: 125%;
  rotate: 90deg;
}

.bottomBush2 {
  background-image: url("../images/bush2.png");
  background-size: 95%;
}

.bottomBush3 {
  background-image: url("../images/bush3.png");
  background-size: cover;
}

.bottomBush4 {
  background-image: url("../images/bush4.png");
  background-size: cover;
  rotate: 90deg;
}

/* Special Cells - Center Cells */

.colCenterRight {
  background-image: url("../images/bush6.gif");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

.colCenterLeft {
  background-image: url("../images/bush6.gif");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.rowCenterTop {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rowCenterBottom {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Special Cells - Corner Cells */

.topRightCorner {
  background-image: url("../images/bush5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.topRightCornerRow {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topRightCornerColumn {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topLeftCorner {
  background-image: url("../images/bush5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.topLeftCornerRow {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topLeftCornerColumn {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomLeftCorner {
  background-image: url("../images/bush5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomLeftCornerRow {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomLeftCornerColumn {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomRightCorner {
  background-image: url("../images/bush5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomRightCornerRow {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomRightCornerColumn {
  background-image: url("../images/bush7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
