* {
  caret-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/jungle.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#yellow-circle {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#game-modal {
  /* initially hidden */
  display: none;
}

#game-modal.visible {
  display: block;
  backdrop-filter: blur(
    10px
  ); /* Adjust the pixel value to control the amount of blur */
  position: fixed; /* Position it fixed to cover the entire screen */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  width: 100%; /* Make it cover the full width */
  height: 100%; /* Make it cover the full height */
}

#game-board {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 0;
}

#static-elements,
#dynamic-elements {
  grid-area: 1 / 1 / -1 / -1;
}

/* Static Element Styles */

#static-elements {
  background-color: #0e7c44;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.food {
  background-image: url("../images/monkeyT.gif");
  background-size: cover;
  z-index: 3;
}

.snakeHead {
  background-image: url("../images/snakeheadT.png");
  background-size: cover;
  z-index: 1;
}

.snakeTail {
  background-image: url("../images/snakeTailT.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
} 




/* Dynamic Element Styles */
#dynamic-elements {
  background: 
    radial-gradient(circle at 30% 30%, #0E7C44 0%, transparent 50%),
    radial-gradient(circle at 70% 50%, #006C24 0%, transparent 50%),
    radial-gradient(circle at 50% 70%, #003642 0%, black 120%);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snakeBody {
  background-image: url("../images/snakeBodyT.png");
  background-size: cover;
  z-index: 1;
}

/* Grass and Flower Styles (Dynamic so far) */

.grassCell {
  background-image: url("../images/xx.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.flowerCell {
  background-image: url("../images/grassback.jpg");
  background-size: cover;
  z-index: 0;
}

.grass2Cell {
  background-image: url("../images/grassback.jpg");
  background-size: cover;
  transform: scaleX(-1);
  z-index: 0;
}
