body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #99D025;
}

#game-board {
  background-color: #99D025;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
  caret-color: transparent;
  z-index: 0;
}


.food {
  background-image: url('../images/output-onlinegiftools.gif');
  background-size: cover;
  caret-color: transparent;
  z-index: 3;
}


.bottomCell {
  background-image: url('../images/fence-horizontal2.png');
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.topCell {
    background-image: url('../images/fence-horizontal2.png');
    background-size: cover; /* Scale the image to cover the entire cell */
    z-index: 1;
  }

.rightCell {
  background-image: url('../images/fence-vertical.png');
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.leftCell {
  background-image: url('../images/fence-vertical.png');
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}


.rockCell {
background-image: url('../images/rock.png');
background-size: cover;
}

.flowerCell {
  background-image: url('../images/flower.png');
  background-size: cover;
}

.flower2Cell {
  background-image: url('../images/flower2.png');
  background-size: cover;
}



