body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #99d025;
  z-index: 0;
}

#game-board {
  overflow: hidden;
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
  caret-color: transparent;
  z-index: 1;
}

.food {
  background-image: url("../images/output-onlinegiftools.gif");
  background-size: cover;
  caret-color: transparent;
  z-index: 3;
}

.bottomCell {
  background-image: url("../images/newfenceH.png");
  background-color: #8e9e3e;
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.topCell {
  background-image: url("../images/newfenceH.png");
  background-color: #8e9e3e;
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.rightCell {
  background-image: url("../images/newFenceV.png");
  background-color: #8e9e3e;
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.leftCell {
  background-image: url("../images/newFenceV.png");
  background-color: #8e9e3e;
  background-size: cover; /* Scale the image to cover the entire cell */
  z-index: 1;
}

.grassCell {
  background-image: url("../images/grass.gif");
  background-size: cover;
  z-index: 0;
}

.flowerCell {
  background-image: url("../images/flower1.gif");
  background-size: cover;
  z-index: 0;
}

.grass2Cell {
  background-image: url("../images/grass2.png");
  background-size: cover;
  transform: scaleX(-1);
  z-index: 0;
}

.snakeBody {
  background-color: blue;
  border: 0.25vmin solid black;
  caret-color: transparent;
  z-index: 1;
}

.snakeHead {
  background-color: black;
  border: 0.25vmin solid black;
  caret-color: transparent;
  z-index: 0;
}

.snakeTail {
  background-color: yellow;
  border: 0.25vmin solid black;
  caret-color: transparent;
  z-index: 1;
}

#dynamic-elements {
  background-color: #8e9e3e;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

#static-elements {
  background-color: #8e9e3e;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

#static-elements,
#dynamic-elements {
  grid-area: 1 / 1 / -1 / -1;
}
